@media (prefers-color-scheme: dark) {
    .progress-bar {
        background: rgb(181, 184, 194);
    }
}

@media (prefers-color-scheme: light) {
    .github-icon {
        color: #000000
    }

    .progress-bar {
        background: rgb(0, 0, 0);
    }
}

.progress-bar {
    position: fixed;
    left: 0;
    right: 0;
    height: 1px;
    bottom: 100px;
    transform-origin: 50%;
}

.scroll {
    top: 90%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

section {
    scroll-snap-align: center;
}

html {
    scroll-snap-type: y mandatory;
}